<div style="margin-top: 20px;">

  <div class="likes">
    <h4><%= pluralize(@post.likes.count, "Like") %></h4>
    <h4><%= pluralize(@comments.count, "Comment") %></h4>
  </div>
<%= render "comments/form"%>

<% @comments.each do |comment| %>

<div style="margin-top: 20px;">
<div class="mb-15 h4" style="align-items: center; display: flex; justify-content: space-between;">
  <div style="align-items: center; display: flex;"><svg style="margin-right:5px;" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="rgba(0, 0, 0, 0.7)" xmlns="http://www.w3.org/2000/svg">
    <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
  </svg>
    <%= link_to comment.user.name, @post.user%></div>
  <small style="color: rgba(0, 0, 0, 0.5); float: right;"><%= time_ago_in_words(comment.created_at) %> ago</small>
    </div>

<p><%= comment.content %></p>
<% if current_user == comment.user %>
<%= link_to "Delete", [comment.post, comment], method: :delete%>
<% end %>
  <hr style="margin: 0; margin-top: 5px;">
</div>
<% end %>
</div>

