<div style="margin-top: 20px;">

  <div class="likes">
    <h4><%= pluralize(@post.likes.count, "Like") %></h4>
    <h4><%= pluralize(@comments.count, "Comment") %></h4>
  </div>
<%= render "comments/form"%>

<% @comments.each do |comment| %>

<div style="margin-top: 20px;">
<div class="mb-15 h4" style="align-items: center; display: flex; justify-content: space-between;">
  <div style="align-items: center; display: flex;">
    <%= gravatar_tag @post.user.email, :size => 40, :rating => :x, :html => { :class => "gravatar" } %>
    <%= link_to comment.user.name, @post.user%></div>
  <small style="color: rgba(0, 0, 0, 0.5); float: right;"><%= time_ago_in_words(comment.created_at) %> ago</small>
    </div>

<p><%= comment.content %></p>
<% if current_user == comment.user %>
<%= link_to "Delete", [comment.post, comment], method: :delete%>
<% end %>
  <hr style="margin: 0; margin-top: 5px;">
</div>
<% end %>
</div>

