<%# User posts %> 
<% if @user.posts.any? %>
<div class="row mb-100">
  <div class="container">
    <% @user.posts.each do |post| %>
    <div class="col-sm-3 card card-user-feed">
      <% if post.image.present?%> <%= link_to post do%>
      <div
        class="card-image"
        style="
          background: url(<%= post.image_url %>) no-repeat center;
          background-size: cover;
        "
      >
        <div class="card-image-stats">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-heart-fill"
            fill="white"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
            /></svg
          ><%= post.likes.count%>
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-chat-text-fill"
            fill="white"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM4.5 5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zm0 2.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zm0 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z"
            /></svg
          ><%= post.comments.count %>
        </div>
      </div>
      <% end %> <% end %>
      <p
        class="mt-5 text-muted"
        style="
          text-align: right;
          display: inline;
          float: right;
          margin-bottom: 6px;
        "
      >
        <small>Posted <%= time_ago_in_words(post.created_at) %> ago</small>
      </p>
    </div>
    <% end %>
  </div>
</div>
<% elsif @user != current_user %>
<div class="jumbotron jumbotron-fluid" style="margin-top: 40px">
  <div class="container">
    <h1 class="display-4">Still no posts 😢</h1>
  </div>
</div>
<% else%>
<div class="jumbotron jumbotron-fluid" style="margin-top: 40px">
  <div class="container">
    <h1 class="display-4">Still no posts 😢</h1>
    <br />
    <p class="lead">Click "New post" to make your first post.</p>
    <%= link_to "New post", new_post_path, class: "btn-c" %>
  </div>
</div>
<% end %>
