<%# User info %>
<div class='container mt-100'>
  <div class="row">
    <div class="col-sm-2">
      <%= gravatar_tag @user.email, :size => 150, :rating => :x, :html => { :class => "gravatar" } %>
      <%= render 'follow_form' if user_signed_in? %>
      <%= render "layouts/alerts"%>
    </div>
    <div class="col-sm-4">
      <h2 class="user-name">
        <%= @user.name %>
      </h2>
      <div><%= render 'follow_stats' %></div>
      <div class="h4"><small><%= pluralize(@user.posts.count, "Post") %> <mark><%= @user.email %></mark></small></div>
      </div>
    </div>
    <hr>
    <%= render "user_feed"%>
  </div>
</div>


