<div class='container mt-100 mb-100'>
<div class="row">
    <div class="col col-md-8 sticky">
        <%= link_to 'Back', @post.user, class: "btn-c" %>
        <% if @post.user_id == current_user.id %>
        <%= link_to 'Edit', edit_post_path(@post), class:"btn-c" %>
          <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn-c-red" %>
        <% end %>
      <%= render "layouts/alerts"%>
    <div class="h4" style="align-items: center; display: flex; margin-top: 20px; margin-bottom: 0;">
      <%= gravatar_tag @post.user.email, :size => 40, :rating => :x, :html => { :class => "gravatar-small" } %>
    <%= link_to @post.user.name, @post.user%>
    </div>
      <% if @post.image.present?%>
        <img class="post-image" src="<%= @post.image_url %>" />
      <% end %>
      <p class="mt-5 text-muted" style="text-align: right; display: inline; float: left; margin-top: 5px;"><small>Posted <%= time_ago_in_words(@post.created_at) %> ago</small></p>
    </div>

  <div class="col col-md-4 post-info"><div class="h4" style="margin-bottom:5px; margin-top: 142px;"><small>Descirption:</small></div>
    <div class="m-0 h3"><%= @post.description%></div>

    <div class="likes h4">
      <%= render "likes/like" %>
    </div>

    <%= render "comments/comment"%> </div>

</div>
</div>